.hero-section {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.hero-inner {
    width: 100%;
    height: 100%;
    clip-path: content-box;
}

.hero-img {
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.hero-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.landing-page .hero-text {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: clamp(3rem, 10vw, 8rem);
    text-transform: uppercase;
}

.description:nth-child(2) .hero-img {
    background-image: url(../img/pizzas/fresh_pizza_fatima-akram-unsplash.png);
    background-size: cover;
    background-position: 50% 35%;
}

.description:nth-child(2) .hero-text {
    align-items: end;
    line-height: 125px;
    font-size: 8rem;
    margin-left: 15px;
    margin-bottom: 40px;
    width: 80%;
}

.description:nth-child(3) .hero-img {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.75)), url(../img/other/tim-zankert-ZWweujwrLEM-unsplash.png) center/cover;
    background-attachment: fixed;
}

.description:nth-child(3) .hero-text {
    align-items: end;
    font-size: clamp(3rem, 8vw, 5rem);
    width: 80%;
    margin-left: 15px;
    margin-bottom: 20px;
}

.popular-choices .hero-text {
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
}

.pizzas {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.pizza {
    width: 25%;
    height: 100%;
}

.pizza .img {
    width: 100%;
    height: 100%;
    background-size: cover;
    transform: translateY(0%);
}

.pizza:nth-child(1) .img {
    background-image: url(../img/pizzas/bbq_chicken_pizza_warda-naeem-unsplash.png);
    background-position: 25% 75%;
}


.pizza:nth-child(2) .img {
    background-image: url(../img/pizzas/pepperoni_pizza_david-foodphototasty-unsplash.png);
    background-position: 50% 50%;
}

.pizza:nth-child(3) .img {
    background-image: url(../img/pizzas/four_cheese_pizza_engin-akyurt-unsplash.png);
    background-position: 75% 25%;
}

.pizza:nth-child(4) .img {
    background-image: url(../img/pizzas/meat_lovers_sharan-pagadala-unsplash.png);
    background-position: 75% 50%;
    transform: scale(1.1);
}

.social .hero-inner {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.social .left {
    width: 100%;
    height: 100%;
}

.social .hero-img {
    background-image: url(../img/pizzas/social_media_yoav-aziz-unsplash.png);
    background-size: cover;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 50px;
}

.social .hero-text {
    align-items: end;
    justify-content: flex-start;
    font-size: clamp(3.5rem, 50vw, 5.25rem);
    line-height: 100px;
    margin-left: 45px;
    margin-bottom: 35px;
    width: 45%;
}

.twitter-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f2f2f2;
    font-family: "Franklin Gothic Medium", sans-serif;
    height: 38%;
    width: max(65%, 46rem);
    padding: 16px;
    z-index: 2;

    .name-container {
        display: inline flex;
        width: 100%;

        .name {
            color: #080808;
            font-weight: 600;
            font-size: 1.55rem;
        }

        .name::after {
            content: "";
            background-image: url(../svg/verified-rounded.svg);
            width: 12px;
            height: 12px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .user-handle {
            color: #A0A0A0;
            font-weight: 500;
            font-size: 1.15rem;
        }
    }

    .name-container::before {
        display: inline-block;
        content: "";
        background-image: url(../img/other/apple.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 50px;
        height: 50px;
        padding-right: 24px;
    }

    .tweet {
        color: #080808;
        font-weight: 700;
        font-size: 2.25rem;
        padding: 12px;
    }

    .metadata {
        font-weight: 500;
        font-size: 1.25rem;
        padding-left: 12px;
        color: #A0A0A0;
        height: 1.25rem;
        
        .views {
            color:#080808;
            font-weight: 700;
        }
    }
}

.newsletter .hero-inner {
    display: flex;
}

.newsletter .hero-img {
    background-image: url(../img/pizzas/pizza_sharing_brenna-huff-unsplash.png);
    background-size: cover;
    background-position: center;
    height: 100%;
}

.newsletter-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;

    > *:not(:first-child) {
        margin-top: 40px;
    }

    .hero-title {
        width: 75%;
        text-align: center;
        line-height: clamp(50px, 10vw, 100px);
        font-size: clamp(3.25rem, 10vw, 6rem);
    }

    .input {
        display: flex;
        justify-content: center;
        width: max(35%, 184px);
        height: 40px;
        
        input {
            color: #696969;
            font-size: 1.25rem;
            max-width: 75%;
            border: 0;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            padding: 0 15px;
        }
        
        input:focus {
            color: #080808;
            outline: none;
        }

        button {
            background-color: #696969;
            border: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            font-size: 0.75rem;
            width: 25%;
            cursor: pointer;
        }
    }

    .newsletter-text {
        text-align: center;
        font-size: clamp(1.15rem, 5vw, 1.35rem);
    }
}

.branches {
    overflow: hidden;
}

.branches .hero-inner {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.branches .hero-title {
    position: fixed;
    top: 0;
    bottom: 0;
    letter-spacing: 10px;
    z-index: 1;
    width: max(100%, 500px);
    height: max(100%, 148px);
    max-height: 50%;

    path {
        fill: transparent;
    }

    text {
        fill: #404040;
        font-size: clamp(4.75rem, 100%, 6rem);
    }
}

.branch-addresses {
    display: flex;
    width: 100%;
    height: 50%;
}

.branch-address {
    display: flex;
    flex-direction: column;
    font-family: "Franklin Gothic Medium", sans-serif;
    width: 100%;
    height: 100%;

    .address-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
    }
    
    .name {
        font-size: clamp(0.85rem, 5vw, 3rem);
        text-transform: uppercase;
        text-align: center;
    }

    .address {
        width: 75%;
        font-size: clamp(0.45rem, 5vw, 1.25rem);
        font-weight: 500;
        text-align: center;
    }

    .hero-img {
        background-attachment: local;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 2;
    }
}

.branch-address:first-child .address-info {
    transform-origin: bottom left;
}



.branch-address:last-child .address-info {
    transform-origin: bottom right;
}

.branch-address:first-child .hero-img {
    background-image: url(../img/pizzas/pepperoni2.png);
    transform: rotate(-80deg);
}

.branch-address:nth-child(2) .hero-img {
    background-position: center;
    background-image: url(../img/pizzas/pepperoni1.png);
    background-size: 125%;
    transform: rotate(180deg);
}

.branch-address:last-child .hero-img {
    background-image: url(../img/pizzas/pepperoni2.png);
    transform: rotate(80deg) rotateY(180deg);
}

@media only screen and (max-width: 400px) {
    article.twitter-card {
        height: 19%;

        .name-container {
            .name {
                font-size: 1.05rem;
            }

            .user-handle {
                font-size: 0.65rem;
            }
        }

        .name-container::before {
            margin: auto 0;
            width: 30px;
            height: 30px;
        }

        .tweet {
            font-size: 1.3rem;
        }

        .metadata {
            font-size: 0.75rem;
        }
    }

    .branches .hero-title {
        width: 95%;
    }
}

@media only screen and (max-width: 512px) {
    #home {
        overflow-x: hidden;
    }

    .description:nth-child(2) .hero-text {
        line-height: 50px;
        font-size: 4rem;
        width: 60%;
    }
    
    .description:nth-child(3) .hero-text {
        width: unset;
    }

    .popular-choices .hero-text {
        font-size: 4rem;
    }

    .pizzas {
        flex-direction: column;
        
        .pizza {
            width: 100%;
        }
    }

    .newsletter-text {
        width: 75%;
    }
}

@media only screen and (max-width: 768px) {
    .social .hero-inner {
        position: relative;
        flex-direction: column;
        justify-content: center;
    }
    
    .social .hero-img {
        margin: 0 auto;
    }

    .social .hero-text {
        line-height: 85px;
        text-align: center;
        width: fit-content;
        margin: auto;
    }

    .twitter-card {
        position: absolute;
        justify-content: space-around;
        align-self: center;
        width: clamp(310px, 90vw, 470px); 
        height: 33%;
        padding: 0 16px;

        .name-container {
            .name {
                font-size: 1.25rem;
            }

            .user-handle {
                font-size: 0.9rem;
            }
        }
        
        .name-container::before {
            width: 40px;
            height: 40px;
        }

        .tweet {
            padding: 0 12px;
            font-size: 1.95rem;
        }

        .metadata {
            font-size: 0.95rem;
        }
    }
    
    .branch-address:first-child .hero-img {
        transform: rotate(0);
    }

    .branch-address:nth-child(2) .hero-img {
        background-size: 250%;
    }

    .branch-address:last-child .hero-img {
        transform: rotateY(180deg);
    }
}